---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import WhyChooseMaki from '../components/WhyChooseMaki.astro';
import Team from '../components/Team.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Maki.ai - Building Intelligent Infra for Classrooms">
  <Navbar />
  
  <main>
    <Hero />
    <HowItWorks />
    <WhyChooseMaki />
    <Team />
  </main>

  <Footer />
</Layout>
