---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Maki.ai - Building Intelligent Infra for Classrooms">
  <Navbar />
  
  <main>
    <Hero />
  </main>

  <Footer />
</Layout>
